.card-container {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #444444;
}

/* card img */
.card-img-container {
  flex: 1;
  border-right: 3px solid #444444;
}

.card-img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}

.card-img:hover,
.card-img:active,
.card-img:focus {
  outline: none;
  transform: none;
}

/* card bio */
.card-bio-container {
  flex: 2;
}

.bio-title-h1 {
  margin-top: 1rem;
}
